<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdes.GDES.dao.EvaluationrecordMapper">
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Evaluationrecord">
    <id column="id_t" jdbcType="VARCHAR" property="idT" />
    <id column="id_s" jdbcType="VARCHAR" property="idS" />
    <id column="id_er" jdbcType="VARCHAR" property="idEr" />
    <result column="begin_er" jdbcType="VARCHAR" property="beginEr" />
    <result column="end_er" jdbcType="VARCHAR" property="endEr" />
    <result column="consumption_er" jdbcType="VARCHAR" property="consumptionEr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_t, id_s, id_er, begin_er, end_er, consumption_er
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.EvaluationrecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from evaluationrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.gdes.GDES.model.EvaluationrecordKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluationrecord
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdes.GDES.model.EvaluationrecordKey">
    delete from evaluationrecord
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.EvaluationrecordExample">
    delete from evaluationrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Evaluationrecord">
    insert into evaluationrecord (id_t, id_s, id_er, 
      begin_er, end_er, consumption_er
      )
    values (#{idT,jdbcType=VARCHAR}, #{idS,jdbcType=VARCHAR}, #{idEr,jdbcType=VARCHAR}, 
      #{beginEr,jdbcType=VARCHAR}, #{endEr,jdbcType=VARCHAR}, #{consumptionEr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Evaluationrecord">
    insert into evaluationrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        id_t,
      </if>
      <if test="idS != null">
        id_s,
      </if>
      <if test="idEr != null">
        id_er,
      </if>
      <if test="beginEr != null">
        begin_er,
      </if>
      <if test="endEr != null">
        end_er,
      </if>
      <if test="consumptionEr != null">
        consumption_er,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        #{idT,jdbcType=VARCHAR},
      </if>
      <if test="idS != null">
        #{idS,jdbcType=VARCHAR},
      </if>
      <if test="idEr != null">
        #{idEr,jdbcType=VARCHAR},
      </if>
      <if test="beginEr != null">
        #{beginEr,jdbcType=VARCHAR},
      </if>
      <if test="endEr != null">
        #{endEr,jdbcType=VARCHAR},
      </if>
      <if test="consumptionEr != null">
        #{consumptionEr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.EvaluationrecordExample" resultType="java.lang.Long">
    select count(*) from evaluationrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update evaluationrecord
    <set>
      <if test="record.idT != null">
        id_t = #{record.idT,jdbcType=VARCHAR},
      </if>
      <if test="record.idS != null">
        id_s = #{record.idS,jdbcType=VARCHAR},
      </if>
      <if test="record.idEr != null">
        id_er = #{record.idEr,jdbcType=VARCHAR},
      </if>
      <if test="record.beginEr != null">
        begin_er = #{record.beginEr,jdbcType=VARCHAR},
      </if>
      <if test="record.endEr != null">
        end_er = #{record.endEr,jdbcType=VARCHAR},
      </if>
      <if test="record.consumptionEr != null">
        consumption_er = #{record.consumptionEr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update evaluationrecord
    set id_t = #{record.idT,jdbcType=VARCHAR},
      id_s = #{record.idS,jdbcType=VARCHAR},
      id_er = #{record.idEr,jdbcType=VARCHAR},
      begin_er = #{record.beginEr,jdbcType=VARCHAR},
      end_er = #{record.endEr,jdbcType=VARCHAR},
      consumption_er = #{record.consumptionEr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Evaluationrecord">
    update evaluationrecord
    <set>
      <if test="beginEr != null">
        begin_er = #{beginEr,jdbcType=VARCHAR},
      </if>
      <if test="endEr != null">
        end_er = #{endEr,jdbcType=VARCHAR},
      </if>
      <if test="consumptionEr != null">
        consumption_er = #{consumptionEr,jdbcType=VARCHAR},
      </if>
    </set>
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Evaluationrecord">
    update evaluationrecord
    set begin_er = #{beginEr,jdbcType=VARCHAR},
      end_er = #{endEr,jdbcType=VARCHAR},
      consumption_er = #{consumptionEr,jdbcType=VARCHAR}
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
  </update>
</mapper>