<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdes.GDES.dao.FeaturesMapper">
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Features">
    <id column="id_f" jdbcType="INTEGER" property="idF" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="list" jdbcType="VARCHAR" property="list" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_f, name, link, list
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.FeaturesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from features
    where id_f = #{idF,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from features
    where id_f = #{idF,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.FeaturesExample">
    delete from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Features">
    insert into features (id_f, name, link, 
      list)
    values (#{idF,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{list,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Features">
    insert into features
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idF != null">
        id_f,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="list != null">
        list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idF != null">
        #{idF,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="list != null">
        #{list,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.FeaturesExample" resultType="java.lang.Long">
    select count(*) from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update features
    <set>
      <if test="record.idF != null">
        id_f = #{record.idF,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.list != null">
        list = #{record.list,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update features
    set id_f = #{record.idF,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      list = #{record.list,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Features">
    update features
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="list != null">
        list = #{list,jdbcType=VARCHAR},
      </if>
    </set>
    where id_f = #{idF,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Features">
    update features
    set name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      list = #{list,jdbcType=VARCHAR}
    where id_f = #{idF,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Features">
    <id column="id_f" jdbcType="INTEGER" property="idF" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="list" jdbcType="VARCHAR" property="list" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_f, name, link, list
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.FeaturesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from features
    where id_f = #{idF,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from features
    where id_f = #{idF,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.FeaturesExample">
    delete from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Features">
    insert into features (id_f, name, link, 
      list)
    values (#{idF,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{list,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Features">
    insert into features
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idF != null">
        id_f,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="list != null">
        list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idF != null">
        #{idF,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="list != null">
        #{list,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.FeaturesExample" resultType="java.lang.Long">
    select count(*) from features
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update features
    <set>
      <if test="record.idF != null">
        id_f = #{record.idF,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.list != null">
        list = #{record.list,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update features
    set id_f = #{record.idF,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      list = #{record.list,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Features">
    update features
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="list != null">
        list = #{list,jdbcType=VARCHAR},
      </if>
    </set>
    where id_f = #{idF,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Features">
    update features
    set name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      list = #{list,jdbcType=VARCHAR}
    where id_f = #{idF,jdbcType=INTEGER}
  </update>
</mapper>