<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdes.GDES.dao.HistorytestpaperMapper">
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Historytestpaper">
    <id column="id_t" jdbcType="VARCHAR" property="idT" />
    <id column="id_s" jdbcType="VARCHAR" property="idS" />
    <id column="id_er" jdbcType="VARCHAR" property="idEr" />
    <id column="id_q" jdbcType="VARCHAR" property="idQ" />
    <result column="answer_htp" jdbcType="VARCHAR" property="answerHtp" />
    <result column="score_htp" jdbcType="VARCHAR" property="scoreHtp" />
    <result column="timeconsuming_htp" jdbcType="VARCHAR" property="timeconsumingHtp" />
    <result column="timeproportion_htp" jdbcType="VARCHAR" property="timeproportionHtp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_t, id_s, id_er, id_q, answer_htp, score_htp, timeconsuming_htp, timeproportion_htp
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.gdes.GDES.model.HistorytestpaperKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from historytestpaper
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdes.GDES.model.HistorytestpaperKey">
    delete from historytestpaper
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample">
    delete from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Historytestpaper">
    insert into historytestpaper (id_t, id_s, id_er, 
      id_q, answer_htp, score_htp, 
      timeconsuming_htp, timeproportion_htp)
    values (#{idT,jdbcType=VARCHAR}, #{idS,jdbcType=VARCHAR}, #{idEr,jdbcType=VARCHAR}, 
      #{idQ,jdbcType=VARCHAR}, #{answerHtp,jdbcType=VARCHAR}, #{scoreHtp,jdbcType=VARCHAR}, 
      #{timeconsumingHtp,jdbcType=VARCHAR}, #{timeproportionHtp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Historytestpaper">
    insert into historytestpaper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        id_t,
      </if>
      <if test="idS != null">
        id_s,
      </if>
      <if test="idEr != null">
        id_er,
      </if>
      <if test="idQ != null">
        id_q,
      </if>
      <if test="answerHtp != null">
        answer_htp,
      </if>
      <if test="scoreHtp != null">
        score_htp,
      </if>
      <if test="timeconsumingHtp != null">
        timeconsuming_htp,
      </if>
      <if test="timeproportionHtp != null">
        timeproportion_htp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        #{idT,jdbcType=VARCHAR},
      </if>
      <if test="idS != null">
        #{idS,jdbcType=VARCHAR},
      </if>
      <if test="idEr != null">
        #{idEr,jdbcType=VARCHAR},
      </if>
      <if test="idQ != null">
        #{idQ,jdbcType=VARCHAR},
      </if>
      <if test="answerHtp != null">
        #{answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="scoreHtp != null">
        #{scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeconsumingHtp != null">
        #{timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeproportionHtp != null">
        #{timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample" resultType="java.lang.Long">
    select count(*) from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update historytestpaper
    <set>
      <if test="record.idT != null">
        id_t = #{record.idT,jdbcType=VARCHAR},
      </if>
      <if test="record.idS != null">
        id_s = #{record.idS,jdbcType=VARCHAR},
      </if>
      <if test="record.idEr != null">
        id_er = #{record.idEr,jdbcType=VARCHAR},
      </if>
      <if test="record.idQ != null">
        id_q = #{record.idQ,jdbcType=VARCHAR},
      </if>
      <if test="record.answerHtp != null">
        answer_htp = #{record.answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreHtp != null">
        score_htp = #{record.scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.timeconsumingHtp != null">
        timeconsuming_htp = #{record.timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.timeproportionHtp != null">
        timeproportion_htp = #{record.timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update historytestpaper
    set id_t = #{record.idT,jdbcType=VARCHAR},
      id_s = #{record.idS,jdbcType=VARCHAR},
      id_er = #{record.idEr,jdbcType=VARCHAR},
      id_q = #{record.idQ,jdbcType=VARCHAR},
      answer_htp = #{record.answerHtp,jdbcType=VARCHAR},
      score_htp = #{record.scoreHtp,jdbcType=VARCHAR},
      timeconsuming_htp = #{record.timeconsumingHtp,jdbcType=VARCHAR},
      timeproportion_htp = #{record.timeproportionHtp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Historytestpaper">
    update historytestpaper
    <set>
      <if test="answerHtp != null">
        answer_htp = #{answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="scoreHtp != null">
        score_htp = #{scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeconsumingHtp != null">
        timeconsuming_htp = #{timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeproportionHtp != null">
        timeproportion_htp = #{timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </set>
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Historytestpaper">
    update historytestpaper
    set answer_htp = #{answerHtp,jdbcType=VARCHAR},
      score_htp = #{scoreHtp,jdbcType=VARCHAR},
      timeconsuming_htp = #{timeconsumingHtp,jdbcType=VARCHAR},
      timeproportion_htp = #{timeproportionHtp,jdbcType=VARCHAR}
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Historytestpaper">
    <id column="id_t" jdbcType="VARCHAR" property="idT" />
    <id column="id_s" jdbcType="VARCHAR" property="idS" />
    <id column="id_er" jdbcType="VARCHAR" property="idEr" />
    <id column="id_q" jdbcType="VARCHAR" property="idQ" />
    <result column="answer_htp" jdbcType="VARCHAR" property="answerHtp" />
    <result column="score_htp" jdbcType="VARCHAR" property="scoreHtp" />
    <result column="timeconsuming_htp" jdbcType="VARCHAR" property="timeconsumingHtp" />
    <result column="timeproportion_htp" jdbcType="VARCHAR" property="timeproportionHtp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_t, id_s, id_er, id_q, answer_htp, score_htp, timeconsuming_htp, timeproportion_htp
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.gdes.GDES.model.HistorytestpaperKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from historytestpaper
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdes.GDES.model.HistorytestpaperKey">
    delete from historytestpaper
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample">
    delete from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Historytestpaper">
    insert into historytestpaper (id_t, id_s, id_er, 
      id_q, answer_htp, score_htp, 
      timeconsuming_htp, timeproportion_htp)
    values (#{idT,jdbcType=VARCHAR}, #{idS,jdbcType=VARCHAR}, #{idEr,jdbcType=VARCHAR}, 
      #{idQ,jdbcType=VARCHAR}, #{answerHtp,jdbcType=VARCHAR}, #{scoreHtp,jdbcType=VARCHAR}, 
      #{timeconsumingHtp,jdbcType=VARCHAR}, #{timeproportionHtp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Historytestpaper">
    insert into historytestpaper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        id_t,
      </if>
      <if test="idS != null">
        id_s,
      </if>
      <if test="idEr != null">
        id_er,
      </if>
      <if test="idQ != null">
        id_q,
      </if>
      <if test="answerHtp != null">
        answer_htp,
      </if>
      <if test="scoreHtp != null">
        score_htp,
      </if>
      <if test="timeconsumingHtp != null">
        timeconsuming_htp,
      </if>
      <if test="timeproportionHtp != null">
        timeproportion_htp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        #{idT,jdbcType=VARCHAR},
      </if>
      <if test="idS != null">
        #{idS,jdbcType=VARCHAR},
      </if>
      <if test="idEr != null">
        #{idEr,jdbcType=VARCHAR},
      </if>
      <if test="idQ != null">
        #{idQ,jdbcType=VARCHAR},
      </if>
      <if test="answerHtp != null">
        #{answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="scoreHtp != null">
        #{scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeconsumingHtp != null">
        #{timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeproportionHtp != null">
        #{timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.HistorytestpaperExample" resultType="java.lang.Long">
    select count(*) from historytestpaper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update historytestpaper
    <set>
      <if test="record.idT != null">
        id_t = #{record.idT,jdbcType=VARCHAR},
      </if>
      <if test="record.idS != null">
        id_s = #{record.idS,jdbcType=VARCHAR},
      </if>
      <if test="record.idEr != null">
        id_er = #{record.idEr,jdbcType=VARCHAR},
      </if>
      <if test="record.idQ != null">
        id_q = #{record.idQ,jdbcType=VARCHAR},
      </if>
      <if test="record.answerHtp != null">
        answer_htp = #{record.answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreHtp != null">
        score_htp = #{record.scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.timeconsumingHtp != null">
        timeconsuming_htp = #{record.timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="record.timeproportionHtp != null">
        timeproportion_htp = #{record.timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update historytestpaper
    set id_t = #{record.idT,jdbcType=VARCHAR},
      id_s = #{record.idS,jdbcType=VARCHAR},
      id_er = #{record.idEr,jdbcType=VARCHAR},
      id_q = #{record.idQ,jdbcType=VARCHAR},
      answer_htp = #{record.answerHtp,jdbcType=VARCHAR},
      score_htp = #{record.scoreHtp,jdbcType=VARCHAR},
      timeconsuming_htp = #{record.timeconsumingHtp,jdbcType=VARCHAR},
      timeproportion_htp = #{record.timeproportionHtp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Historytestpaper">
    update historytestpaper
    <set>
      <if test="answerHtp != null">
        answer_htp = #{answerHtp,jdbcType=VARCHAR},
      </if>
      <if test="scoreHtp != null">
        score_htp = #{scoreHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeconsumingHtp != null">
        timeconsuming_htp = #{timeconsumingHtp,jdbcType=VARCHAR},
      </if>
      <if test="timeproportionHtp != null">
        timeproportion_htp = #{timeproportionHtp,jdbcType=VARCHAR},
      </if>
    </set>
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Historytestpaper">
    update historytestpaper
    set answer_htp = #{answerHtp,jdbcType=VARCHAR},
      score_htp = #{scoreHtp,jdbcType=VARCHAR},
      timeconsuming_htp = #{timeconsumingHtp,jdbcType=VARCHAR},
      timeproportion_htp = #{timeproportionHtp,jdbcType=VARCHAR}
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
  </update>
</mapper>