<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdes.GDES.dao.MajorMapper">
  <resultMap id="BaseResultMap" type="com.gdes.GDES.model.Major">
    <id column="id_m" jdbcType="VARCHAR" property="idM" />
    <result column="name_m" jdbcType="VARCHAR" property="nameM" />
    <result column="leader_m" jdbcType="VARCHAR" property="leaderM" />
    <result column="id_mb" jdbcType="INTEGER" property="idMb" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_m, name_m, leader_m, id_mb
  </sql>
  <select id="selectByExample" parameterType="com.gdes.GDES.model.MajorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from major
    where id_m = #{idM,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from major
    where id_m = #{idM,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdes.GDES.model.MajorExample">
    delete from major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdes.GDES.model.Major">
    insert into major (id_m, name_m, leader_m, 
      id_mb)
    values (#{idM,jdbcType=VARCHAR}, #{nameM,jdbcType=VARCHAR}, #{leaderM,jdbcType=VARCHAR}, 
      #{idMb,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gdes.GDES.model.Major">
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idM != null">
        id_m,
      </if>
      <if test="nameM != null">
        name_m,
      </if>
      <if test="leaderM != null">
        leader_m,
      </if>
      <if test="idMb != null">
        id_mb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idM != null">
        #{idM,jdbcType=VARCHAR},
      </if>
      <if test="nameM != null">
        #{nameM,jdbcType=VARCHAR},
      </if>
      <if test="leaderM != null">
        #{leaderM,jdbcType=VARCHAR},
      </if>
      <if test="idMb != null">
        #{idMb,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdes.GDES.model.MajorExample" resultType="java.lang.Long">
    select count(*) from major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update major
    <set>
      <if test="record.idM != null">
        id_m = #{record.idM,jdbcType=VARCHAR},
      </if>
      <if test="record.nameM != null">
        name_m = #{record.nameM,jdbcType=VARCHAR},
      </if>
      <if test="record.leaderM != null">
        leader_m = #{record.leaderM,jdbcType=VARCHAR},
      </if>
      <if test="record.idMb != null">
        id_mb = #{record.idMb,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update major
    set id_m = #{record.idM,jdbcType=VARCHAR},
      name_m = #{record.nameM,jdbcType=VARCHAR},
      leader_m = #{record.leaderM,jdbcType=VARCHAR},
      id_mb = #{record.idMb,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdes.GDES.model.Major">
    update major
    <set>
      <if test="nameM != null">
        name_m = #{nameM,jdbcType=VARCHAR},
      </if>
      <if test="leaderM != null">
        leader_m = #{leaderM,jdbcType=VARCHAR},
      </if>
      <if test="idMb != null">
        id_mb = #{idMb,jdbcType=INTEGER},
      </if>
    </set>
    where id_m = #{idM,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdes.GDES.model.Major">
    update major
    set name_m = #{nameM,jdbcType=VARCHAR},
      leader_m = #{leaderM,jdbcType=VARCHAR},
      id_mb = #{idMb,jdbcType=INTEGER}
    where id_m = #{idM,jdbcType=VARCHAR}
  </update>
</mapper>