<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.mapper.ScoredetailMapper">
  <resultMap id="BaseResultMap" type="com.allen.model.Scoredetail">
    <id column="id_t" jdbcType="VARCHAR" property="idT" />
    <id column="id_s" jdbcType="VARCHAR" property="idS" />
    <id column="id_er" jdbcType="VARCHAR" property="idEr" />
    <id column="id_q" jdbcType="VARCHAR" property="idQ" />
    <id column="id_ap" jdbcType="INTEGER" property="idAp" />
    <result column="score_sd" jdbcType="VARCHAR" property="scoreSd" />
    <result column="time_sd" jdbcType="VARCHAR" property="timeSd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_t, id_s, id_er, id_q, id_ap, score_sd, time_sd
  </sql>
  <select id="selectByExample" parameterType="com.allen.model.ScoredetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scoredetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.allen.model.ScoredetailKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scoredetail
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
      and id_ap = #{idAp,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.allen.model.ScoredetailKey">
    delete from scoredetail
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
      and id_ap = #{idAp,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.allen.model.ScoredetailExample">
    delete from scoredetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allen.model.Scoredetail">
    insert into scoredetail (id_t, id_s, id_er, 
      id_q, id_ap, score_sd, 
      time_sd)
    values (#{idT,jdbcType=VARCHAR}, #{idS,jdbcType=VARCHAR}, #{idEr,jdbcType=VARCHAR}, 
      #{idQ,jdbcType=VARCHAR}, #{idAp,jdbcType=INTEGER}, #{scoreSd,jdbcType=VARCHAR}, 
      #{timeSd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allen.model.Scoredetail">
    insert into scoredetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        id_t,
      </if>
      <if test="idS != null">
        id_s,
      </if>
      <if test="idEr != null">
        id_er,
      </if>
      <if test="idQ != null">
        id_q,
      </if>
      <if test="idAp != null">
        id_ap,
      </if>
      <if test="scoreSd != null">
        score_sd,
      </if>
      <if test="timeSd != null">
        time_sd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        #{idT,jdbcType=VARCHAR},
      </if>
      <if test="idS != null">
        #{idS,jdbcType=VARCHAR},
      </if>
      <if test="idEr != null">
        #{idEr,jdbcType=VARCHAR},
      </if>
      <if test="idQ != null">
        #{idQ,jdbcType=VARCHAR},
      </if>
      <if test="idAp != null">
        #{idAp,jdbcType=INTEGER},
      </if>
      <if test="scoreSd != null">
        #{scoreSd,jdbcType=VARCHAR},
      </if>
      <if test="timeSd != null">
        #{timeSd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allen.model.ScoredetailExample" resultType="java.lang.Long">
    select count(*) from scoredetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scoredetail
    <set>
      <if test="record.idT != null">
        id_t = #{record.idT,jdbcType=VARCHAR},
      </if>
      <if test="record.idS != null">
        id_s = #{record.idS,jdbcType=VARCHAR},
      </if>
      <if test="record.idEr != null">
        id_er = #{record.idEr,jdbcType=VARCHAR},
      </if>
      <if test="record.idQ != null">
        id_q = #{record.idQ,jdbcType=VARCHAR},
      </if>
      <if test="record.idAp != null">
        id_ap = #{record.idAp,jdbcType=INTEGER},
      </if>
      <if test="record.scoreSd != null">
        score_sd = #{record.scoreSd,jdbcType=VARCHAR},
      </if>
      <if test="record.timeSd != null">
        time_sd = #{record.timeSd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scoredetail
    set id_t = #{record.idT,jdbcType=VARCHAR},
      id_s = #{record.idS,jdbcType=VARCHAR},
      id_er = #{record.idEr,jdbcType=VARCHAR},
      id_q = #{record.idQ,jdbcType=VARCHAR},
      id_ap = #{record.idAp,jdbcType=INTEGER},
      score_sd = #{record.scoreSd,jdbcType=VARCHAR},
      time_sd = #{record.timeSd,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.allen.model.Scoredetail">
    update scoredetail
    <set>
      <if test="scoreSd != null">
        score_sd = #{scoreSd,jdbcType=VARCHAR},
      </if>
      <if test="timeSd != null">
        time_sd = #{timeSd,jdbcType=VARCHAR},
      </if>
    </set>
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
      and id_ap = #{idAp,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allen.model.Scoredetail">
    update scoredetail
    set score_sd = #{scoreSd,jdbcType=VARCHAR},
      time_sd = #{timeSd,jdbcType=VARCHAR}
    where id_t = #{idT,jdbcType=VARCHAR}
      and id_s = #{idS,jdbcType=VARCHAR}
      and id_er = #{idEr,jdbcType=VARCHAR}
      and id_q = #{idQ,jdbcType=VARCHAR}
      and id_ap = #{idAp,jdbcType=INTEGER}
  </update>
</mapper>