<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.allen.model.Teacher">
    <id column="id_t" jdbcType="VARCHAR" property="idT" />
    <result column="name_t" jdbcType="VARCHAR" property="nameT" />
    <result column="id_m" jdbcType="VARCHAR" property="idM" />
    <result column="majorleader_t" jdbcType="VARCHAR" property="majorleaderT" />
    <result column="courseleader_t" jdbcType="VARCHAR" property="courseleaderT" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_t, name_t, id_m, majorleader_t, courseleader_t
  </sql>
  <select id="selectByExample" parameterType="com.allen.model.TeacherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id_t = #{idT,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from teacher
    where id_t = #{idT,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.allen.model.TeacherExample">
    delete from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allen.model.Teacher">
    insert into teacher (id_t, name_t, id_m, 
      majorleader_t, courseleader_t)
    values (#{idT,jdbcType=VARCHAR}, #{nameT,jdbcType=VARCHAR}, #{idM,jdbcType=VARCHAR}, 
      #{majorleaderT,jdbcType=VARCHAR}, #{courseleaderT,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allen.model.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        id_t,
      </if>
      <if test="nameT != null">
        name_t,
      </if>
      <if test="idM != null">
        id_m,
      </if>
      <if test="majorleaderT != null">
        majorleader_t,
      </if>
      <if test="courseleaderT != null">
        courseleader_t,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idT != null">
        #{idT,jdbcType=VARCHAR},
      </if>
      <if test="nameT != null">
        #{nameT,jdbcType=VARCHAR},
      </if>
      <if test="idM != null">
        #{idM,jdbcType=VARCHAR},
      </if>
      <if test="majorleaderT != null">
        #{majorleaderT,jdbcType=VARCHAR},
      </if>
      <if test="courseleaderT != null">
        #{courseleaderT,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allen.model.TeacherExample" resultType="java.lang.Long">
    select count(*) from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teacher
    <set>
      <if test="record.idT != null">
        id_t = #{record.idT,jdbcType=VARCHAR},
      </if>
      <if test="record.nameT != null">
        name_t = #{record.nameT,jdbcType=VARCHAR},
      </if>
      <if test="record.idM != null">
        id_m = #{record.idM,jdbcType=VARCHAR},
      </if>
      <if test="record.majorleaderT != null">
        majorleader_t = #{record.majorleaderT,jdbcType=VARCHAR},
      </if>
      <if test="record.courseleaderT != null">
        courseleader_t = #{record.courseleaderT,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teacher
    set id_t = #{record.idT,jdbcType=VARCHAR},
      name_t = #{record.nameT,jdbcType=VARCHAR},
      id_m = #{record.idM,jdbcType=VARCHAR},
      majorleader_t = #{record.majorleaderT,jdbcType=VARCHAR},
      courseleader_t = #{record.courseleaderT,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.allen.model.Teacher">
    update teacher
    <set>
      <if test="nameT != null">
        name_t = #{nameT,jdbcType=VARCHAR},
      </if>
      <if test="idM != null">
        id_m = #{idM,jdbcType=VARCHAR},
      </if>
      <if test="majorleaderT != null">
        majorleader_t = #{majorleaderT,jdbcType=VARCHAR},
      </if>
      <if test="courseleaderT != null">
        courseleader_t = #{courseleaderT,jdbcType=VARCHAR},
      </if>
    </set>
    where id_t = #{idT,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allen.model.Teacher">
    update teacher
    set name_t = #{nameT,jdbcType=VARCHAR},
      id_m = #{idM,jdbcType=VARCHAR},
      majorleader_t = #{majorleaderT,jdbcType=VARCHAR},
      courseleader_t = #{courseleaderT,jdbcType=VARCHAR}
    where id_t = #{idT,jdbcType=VARCHAR}
  </update>
</mapper>